@import '../../../styles/variables.scss';

.formContainer {
    margin: 0 auto;
    justify-content: center;
    min-width: $max-width-wrapper;
    padding: 0;

    @media (max-width: $max-width-wrapper) {
        min-width: none;
    }

}

.submissionForm {
    margin: 2rem 0;
}

.next {
    justify-content: center;
    display: flex;
}

.error {
    font-weight: $fw-bold;
    text-align: center;
}