$colour-primary-100: hsl(94, 61%, 92%);
$colour-primary-200: hsl(92, 61%, 84%);
$colour-primary-300: hsl(87, 59%, 72%);
$colour-primary-500: hsl(84, 95%, 37%);
$colour-primary-700: hsl(93, 62%, 34%);
$colour-primary-900: hsl(159, 53%, 28%);

$colour-grey-900: hsl(130 26.1% 9%);
$colour-grey-600: hsl(130, 4%, 31%);
$colour-grey-200: hsl(134 60% 95.1%);
$colour-grey-100: hsl(134 60% 99%);

$font-titles: "FreckleFace", system-ui;
$font-body: "Open Sans", sans-serif;
$fw-bold: 800;

$max-width-wrapper: 640px;
$full-width-wrapper: 1024px;