$colour-primary: hsl(68 100% 37.3%);
$colour-primary-dark: hsl(89 46.5% 39.6%);
$colour-neutral: hsl(134 60% 95.1%);
$colour-grey: hsl(127, 4%, 55%);
$colour-grey-dark: hsl(130, 4%, 31%);
$colour-dark: hsl(130 26.1% 9%);
$colour-whiter: hsl(134 60% 99%);

$font-titles: "FreckleFace", system-ui;
$font-body: "Open Sans", sans-serif;
$fw-bold: 800;

$max-width-wrapper: 640px;
$full-width-wrapper: 1024px;