@import '../../styles/variables.scss';

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    a:hover {
        color: $colour-primary-500;
    }
 }

.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 1rem;
    
    .heroImage {
        height: auto;
        width: auto;
    }
}

.sectionTitle {
    text-align: center;
}

.sectionContainer {
    padding: 2rem 0;
    width: 100%;

    .wrapper {
        max-width: $full-width-wrapper;
        margin: 0 auto;
        padding: 0 1rem;
    }

    p, h3 {
        padding-top: 1rem;
    }
}

.bg-green-100 {
    background-color: $colour-primary-100;
}

.bg-green-200 {
    background-color: $colour-primary-200;
}

.bg-green-300 {
    background-color: $colour-primary-300;
}