@import '../../../styles/variables.scss';


.checkboxContainer {
    display: flex;
    padding: .75rem;
    margin: 1rem .5rem;
    border: solid 3px $colour-primary-700;
    border-radius: 15px;
    cursor: pointer;
    transition: all 200ms cubic-bezier(.23, 1, 0.32, 1);
    background-color: $colour-grey-100;

    label {
        display: flex;
        font-size: 16px;
    }

    &:hover {
        box-shadow: 0 3px 2px $colour-primary-700;
    }

    &.checked {
        background: $colour-primary-500;
        border: solid 3px $colour-primary-700;
    }
}

.checkboxInput {
    display: none;
}

.checkboxContent {
    font-weight: 800;
    font-size: 16px;
}