@import '../../styles/variables.scss';

$header-height: 50px;

.navbar {
    position: sticky;
    top: 0px;

    padding: 10px;
    height: $header-height;
    background-color: $colour-neutral;

    .navbarContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        max-width: $max-width-wrapper;
        max-height: 100%;
        margin: 0 auto;
    }
}

.mainNav {
    display: flex;
    flex-direction: row;
    align-items: center;

    ul, a {
        display: flex;
        align-items: center;
    }

    
}

@media (max-width: 768px) {
    .nav-links {
      display: none; /* Hide navigation on smaller screens */
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      padding: 1rem 0;
    }
  
    .nav-links.open {
      display: flex; /* Show dropdown when open */
    }
  
    .hamburger {
      display: flex; /* Show hamburger icon on smaller screens */
    }
  }