@import '../../styles/variables.scss';

.footer{
    padding: 1rem;
    color: $colour-grey-200;
    background-color: $colour-primary-500;

    .footerContent {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 1rem;
        max-width: $max-width-wrapper;
        margin: 0 auto;
    }
    .logos {
        display: flex;
        justify-content: center;
        
        img {
            width: 24px;
            height: 24px;
        }
    }
}